
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <form method="post" action="/Excel/ExportExcel">
        <input id="Submit1" type="submit" value="导出文档" />
    </form>
</body>
</html>